{% extends 'base2.html' %}

{% block main %}
    <h2>Post Detail</h2>

    <ul>
        {% include 'dshunt/post_list/post.html' with from_post_detail=True %}
        <li>Comments Count: {{ comments_count }}</li>

        {% include 'dshunt/post_detail/post_comment_form.html' %}

        <div>
            <h3>Comments</h3>

            <ol type="1">
                {% for comment in comments %}
                    {% include 'dshunt/post_detail/post_comment.html' %}
                {% endfor %}
            </ol>

            {% if comments_count > 5 %}
                <a href="?comment=all">view all</a>
            {% endif %}
        </div>
    </ul>
{% endblock main %}
