{% extends 'base2.html' %}

{% block main %}
    <h2>Post Detail</h2>

    <ul>
        <li>Post Type: {{ object.post_type }}</li>
        <li>Category: {{ object.category }}</li>
        <li>Title: {{ object.title }}</li>
        <li>Description: {{ object.description }}</li>
        <li>Tags: {{ object.tags }}</li>
        <li>Link: {{ object.link }}</li>
        <li>Author: {{ object.author }}</li>
        <li>Channel: {{ object.channel }}</li>
        <li>Podcast: {{ object.podcast }}</li>
        <li>Published Date: {{ object.published_at|date }}</li>
        <li>Vote: {{ object.get_vote_count }}</li>

        {% include 'dshunt/post_detail/post_comment_form.html' %}

        <div>
            <h3>Comments</h3>

            <ol type="1">
                {% for comment in comments %}
                    {% include 'dshunt/post_detail/post_comment.html' %}
                {% endfor %}
            </ol>

            <a href="?comment=all">view all</a>
        </div>
    </ul>
{% endblock main %}
