
    <li>Post Type: {{ object.get_post_type_display }}</li>
    <li>Category: {{ object.category.name }}</li>
    <li>Title: {{ object.title }}</li>
    <li>Description: {{ object.description }}</li>
    <li>Tags: {{ object.tags }}</li>
    <li>Link: {{ object.link }}</li>
    <li>Author: {{ object.author.name }}</li>
    <li>Channel: {{ object.channel.name }}</li>
    <li>Podcast: {{ object.podcast.name }}</li>
    <li>Votes: {{ object.total_votes }}</li>
    <li>Published Date: {{ object.published_at|date }}</li>

    <a href="{% url 'post-detail' object.id %}"><button>View</button></a>

    {% block add_to_collection %}
    {% endblock add_to_collection %}