
    <li>Post Type: {{ object.post.post_type }}</li>
    <li>Category: {{ object.post.category }}</li>
    <li>Title: {{ object.post.title }}</li>
    <li>Description: {{ object.post.description }}</li>
    <li>Tags: {{ object.post.tags }}</li>
    <li>Link: {{ object.post.link }}</li>
    <li>Author: {{ object.post.author }}</li>
    <li>Channel: {{ object.post.channel }}</li>
    <li>Podcast: {{ object.post.podcast }}</li>
    <li>Published Date: {{ object.post.published_at|date }}</li>


    {% if object.is_voted %}
        {% include 'dshunt/post_list/vote.html' %}
    {% else %}
        <a href="{% url 'post-vote' object.post.id %}">
            {% include 'dshunt/post_list/vote.html' %}
        </a>
    {% endif %}
