{% extends 'base2.html' %}
{% load crispy_forms_tags %}

{% block content %}

<ul>
    {% for object in object_list %}
        {% include 'dshunt/user/user_post.html' %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPostModal">
          Add To Collection
        </button>

<!-- Modal -->
<div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add To Collection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form method="post" action="/collections/{{ object.id }}/post/new/?model=post">
          <div class="modal-body">
              {% csrf_token %}
            {{ add_to_coll_form|crispy }}
          </div>
          <div class="modal-footer">
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
            <button type="submit" class="btn btn-primary">Add Post</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    {% endfor %}
</ul>


{% include 'dshunt/pagination.html' %}

{% endblock %}



{% block sidebar %}
<div class="section card mt-3 rounded-1">
    <div class="card-title mb-0 p-3 bg-light rounded-top">
        <span class="mb-0 h6 text-github"><b>Subscribe to The Daily</b></span>
    </div>
    <div class="card-body">
        <div class="wrapper">
            <p class='mb-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

            <div class="w-100 d-flex justify-content-between">
                <div class="">
                <input type="text" class="form-control" placeholder="Your email eg. john@example.com" aria-label="Email Address">
                </div>
                <div class="">
                <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section card mt-3 rounded-1">
    <div class="card-title mb-0 p-3 bg-light rounded-top">
        <span class="mb-0 h6 text-github"><b>What is Trending?</b></span>
    </div>
    <div class="card-body">
        <div class="wrapper">
            <div class='h6 fw-bold mb-3'>#learning-ml</div>

            <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
                <svg class="bd-placeholder-img" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5e5e5"></rect><text x="50%" y="50%" fill="#999" dy=".3em">Image</text></svg>

            </div>
            <div class="flex-grow-1 ms-3 small">
                This is some content from a media component. You can replace this with any content.
            </div>
            </div>

            <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <svg class="bd-placeholder-img" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5e5e5"></rect><text x="50%" y="50%" fill="#999" dy=".3em">Image</text></svg>

            </div>
            <div class="flex-grow-1 ms-3 small">
                This is some content from a media component. You can replace.
            </div>
            </div>

        </div>

        <div class="wrapper mt-4">
            <div class='h6 fw-bold mb-3'>#terradata</div>

            <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
                <svg class="bd-placeholder-img" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5e5e5"></rect><text x="50%" y="50%" fill="#999" dy=".3em">Image</text></svg>

            </div>
            <div class="flex-grow-1 ms-3 small">
                This is some content from a media component. You can replace this with any content.
            </div>
            </div>

            <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <svg class="bd-placeholder-img" width="80" height="80" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e5e5e5"></rect><text x="50%" y="50%" fill="#999" dy=".3em">Image</text></svg>

            </div>
            <div class="flex-grow-1 ms-3 small">
                This is some content from a media component. You can replace.
            </div>
            </div>

        </div>

    </div>
</div>



<div class="section card mt-3 rounded-1">
    <div class="card-title p-3 bg-light rounded-top">
        <span class="mb-0 h6 text-github"><b>Have a question?</b></span>
    </div>
    <div class="card-body">
        <div class="wrapper">
                <p>Found a bug or have a question regarding the content?</p>
                <p>This site is maintained by me and you can reach me at <a href="#">support@dshunt.com</a></p>
        </div>
    </div>
</div>


<div class="section card mt-3 rounded-1">
    <div class="card-title p-3 bg-light rounded-top">
        <span class="mb-0 h6 text-github"><b>Follow Us</b></span>
    </div>
    <div class="card-body">
        <div class="wrapper"><a href="https://twitter.com/_flock_community"><i class="fab fa-twitter"></i>@_flock_community</a></div>
    </div>
</div>
{% endblock %}

