{% extends 'base2.html' %}

{% block main %}
<a href="{% url 'user-profile-update' object.id %}"><button>Update</button></a>
<ul>
  <li>{{ object.user.email }}</li>
  <li>{{ object.headline }}</li>
  {% if object.avatar %}
  <li>{{ object.avatar }}</li>
  {% else %}
  <li>No Avatar</li>
  {% endif %}
  <li>{{ object.website }}</li>
  <li>{{ object.twitter_profile }}</li>
  <li>{{ object.github_profile }}</li>
  <li>{{ object.linkedin }}</li>
  <li>{{ object.youtube_channel }}</li>
</ul>
{% endblock %}